<h1> Here are your lucky numbers! </h1>

 <h1> Your lucky numbers are
  <%= lucky_numbers_1 = rand(1..100) %>
  <%= lucky_numbers_1 = rand(1..100)%>
  <%= lucky_numbers_1 = rand(1..100)%>
  <%= lucky_numbers_1 = rand(1..100)%>
  <%= lucky_numbers_1 = rand(1..100)%>
</h1>
